body {
    font: roberto;
}

.header {
    background-color: #1F2937;
    padding: 5px 400px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-container {
    border-color: red;
}

.intro-container {
    border-color: green;
}

.random-info-container {
    border-color: aqua;
}

.quote-container {
    border-color: black;
}

.signup-container {
    border-color: violet;
}

.footer-container {
    border-color: blue;
}