html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    padding: 15px 300px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-buttons ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left-col h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-col p {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: 0;
    color: #E5E7EB;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 15px;
}

.right-col img {
    height: 250px;
    width: 400px;
}